@page
@model Shop.UI.Pages.CartModel
@{
}


<div class="container">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            @foreach (var product in Model.Cart)
            {
                <div class="level" id="product-@product.StockID">
                    <div class="level-item">
                        <figure class="image is-128x128">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="level-item">
                        <p class="title">
                            @product.Name
                        </p>
                    </div>
                    <div class="level-item">
                        <div class="columns is-gapless has-text-centered is-mobile is-multiline">
                            <div class="column">
                                <button class="button" type="button"
                                        onclick="removeOneFromCart(event)"
                                        data-stock-id="@product.StockID">
                                    -
                                </button>
                            </div>
                            <div class="column align-self-center"
                                 id="stock-@product.StockID">
                                @product.Qty
                            </div>
                            <div class="column">
                                <button class="button" type="button"
                                        onclick="addOneToCart(event)"
                                        data-stock-id="@product.StockID">
                                    +
                                </button>
                            </div>
                            <div class="column is-12">
                                <a class="has-text-danger"
                                   onclick="removeAllFromCart(event)"
                                   data-stock-id="@product.StockID">Удалить</a>
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <p class="subtitle">
                            @product.Value
                        </p>
                    </div>
                </div>
                <hr />
            }
            <div class="has-text-right">
                <a class="button is-text" asp-page="/Index">Назад за покупками</a>
                <a class="button is-success" asp-page="/Checkout/CustomerInformation">Оплатить</a>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var addOneToCart = function (e) {
            var stockId = e.target.dataset.stockId;

            axios.post("/Cart/AddOne/" + stockId)
                .then(res => {
                    var id = "stock-" + stockId;

                    var el = document.getElementById(id);

                    var qty = parseInt(el.innerText);

                    el.innerText = (qty + 1);
                })
                .catch(err => {
                    alert(err.error);
                })
        }

        var removeOneFromCart = function (e) {
            var stockId = e.target.dataset.stockId;

            axios.post("/Cart/RemoveOne/" + stockId)
                .then(res => {
                    var id = "stock-" + stockId;

                    var el = document.getElementById(id);

                    var qty = parseInt(el.innerText);

                    el.innerText = (qty - 1);
                })
                .catch(err => {
                    alert(err.error);
                })
        }

        var removeAllFromCart = function (e) {
            var stockId = e.target.dataset.stockId;

            axios.post("/Cart/RemoveAll/" + stockId)
                .then(res => {
                    var id = "product-" + stockId;

                    var el = document.getElementById(id);

                    el.outerHTML = " ";
                })
                .catch(err => {
                    alert(err.error);
                })
        }

    </script>
}